body {
    
    
    background-image:url(images/rain2.gif);
    background-color:black;
    opacity: 0.8;
    
}

.background {
    
    position:absolute;
    
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


div {
position:inherit;
height: 400px;
width: 200px;
margin: 35px;

}

div:hover {
border: 20px solid white;
border-radius: 0%;
border-style:groove;
background-size: contain;


-webkit-animation: cssAnimation 3.5s infinite linear;
-moz-animation: cssAnimation 3.5s infinite linear;
-o-animation: cssAnimation 3.5s infinite linear;
    
}
@-webkit-keyframes cssAnimation {
from { -webkit-transform: rotateY(0deg) scale(1) skew(0deg) translate(0px); }
to { -webkit-transform: rotateY(360deg) scale(1) skew(0deg) translate(0px); }
}

div:hover ~ .background {
    background: #EE0;
}

.greyLeft1 {
background-color: slategrey;
border-radius: 0%;
border: 20px solid white;
border-style:groove;
float:left;
}

.greyLeft1:hover {
background-image:url(images/12828771172552.jpg);
background-size:cover;
background-position: -60px 0px;
float:left;
}


.greyLeft2 {
background-color: slategrey;
border-radius: 0%;
border: 20px solid white;
border-style:groove;

float:left;
}

.greyLeft2:hover {
background-image:url(images/Foxy+Brown.png);
background-size:cover;
background-position: -60px 0px;
float:left;
}

.greyLeft3 {
background-color: slategrey;
border-radius: 0%;
border: 20px solid white;
border-style:groove;

float:left;
}

.greyLeft3:hover {
background-image:url(images/20-bloody-ice-cream-truck.jpg);
background-size:cover;
background-position: -250px 0px;
float:left;
}

.greyLeft4 {
background-color: slategrey;
border-radius: 0%;
border: 20px solid white;
border-style:groove;

float:left;
}

.greyLeft4:hover {
background-image:url(images/tumblr_nqh2gxtnun1uyzaflo1_1280.jpg);
background-size:cover;
background-position: -30px 0px;
float:left;
}

.greyLeft5 {
background-color: slategrey;
border-radius: 0%;
border: 20px solid white;
border-style:groove;

float:left;
}

.greyLeft5:hover {
background-image:url(images/blood_tears_by_bymeduza-d3chjig.jpg);
background-repeat: no-repeat;
background-size:cover;
background-position: -200px 0px;
float:left;
}

.greyLeft6 {
background-color: slategrey;
border-radius: 0%;
border: 20px solid white;
border-style:groove;

float:left;
}

.greyLeft6:hover {
background-image:url(images/totalfreedom.jpg);
background-position: -250px 0px;
background-size:cover;
float:left;
}

.greyLeft7 {
background-color: slategrey;
border-radius: 0%;
border: 20px solid white;
border-style:groove;

float:left;
}

.greyLeft7:hover {
background-image:url(images/Composite_3d.png);
background-size:cover;
background-position: -220px 0px;
float:left;
}

.greyLeft8 {
background-color: slategrey;
border-radius: 0%;
border: 20px solid white;
border-style:groove;

float:left;
}

.greyLeft8:hover {
background-image:url(images/predhelm7.jpg);
background-size:cover;
background-position: -80px 0px;
float:left;
}

.greyLeft9 {
background-color: slategrey;
border-radius: 0%;
border: 20px solid white;
border-style:groove;

float:left;
}

.greyLeft9:hover {
background-image:url(images/dsquared%20f:w%202014.jpg);
background-size:cover;
background-position: -30px 0px;
float:left;
}

.greyLeft10 {
background-color: slategrey;
border-radius: 0%;
border: 20px solid white;
border-style:groove;

float:left;
}

.greyLeft10:hover {
background-image:url(images/i-love-my-boyfriend-wallpaper.jpg);
background-size:cover;
background-position: -330px 0px;
float:left;
}

.greyRight1 {
background-color: slategrey;
border-radius: 0%;
border: 20px solid white;
border-style:groove;
float:right;
}

.greyRight1:hover {
background-image:url(images/el_v_snegu_i_sosulki_1280.jpg);
background-size:cover;
background-position: -150px 0px;
float:right;
}

.greyRight2 {
background-color: slategrey;
border-radius: 0%;
border: 20px solid white;
border-style:groove;
float:right;
}

.greyRight2:hover {
background-image:url(images/enhanced-buzz-2692-1370555643-31.jpg);
background-size:cover;
background-position: -20px 0px;
float:right;
}

.greyRight3 {
background-color: slategrey;
border-radius: 0%;
border: 20px solid white;
border-style:groove;
float:right;
}

.greyRight3:hover {
background-image:url(images/ghostface_mask_by_dalek1965-d6m4cvk.jpg);
background-size:cover;
background-position: -120px 0px;
float:right;
}

.greyRight4 {
background-color: slategrey;
border-radius: 0%;
border: 20px solid white;
border-style:groove;
float:right;
}

.greyRight4:hover {
background-image:url(images/heather-tire.jpg);
background-size:cover;
background-position: -240px 0px;
float:right;
}

.greyRight5 {
background-color: slategrey;
border-radius: 0%;
border: 20px solid white;
border-style:groove;
float:right;
}

.greyRight5:hover {
background-image:url(images/hqdefault.jpg);
background-size:cover;
background-position: 0px 0px;
float:right;
}

.greyRight6 {
background-color: slategrey;
border-radius: 0%;
border: 20px solid white;
border-style:groove;
float:right;
}

.greyRight6:hover {
background-image:url(images/IMG_9180.jpg);
background-position: -220px 0px;
background-size:cover;
float:right;
}

.greyRight7 {
background-color: slategrey;
border-radius: 0%;
border: 20px solid white;
border-style:groove;
float:right;
}

.greyRight7:hover {
background-image:url(images/mma.jpg);
background-position: -100px 0px;
background-size:cover;
float:right;
}

.greyRight8 {
background-color: slategrey;
border-radius: 0%;
border: 20px solid white;
border-style:groove;
float:right;
}

.greyRight8:hover {
background-image:url(images/predhelm.jpg);
background-position: -390px 0px;
background-size:cover;
float:right;
}

.greyRight9 {
background-color: slategrey;
border-radius: 0%;
border: 20px solid white;
border-style:groove;
float:right;
}

.greyRight9:hover {
background-image:url(images/predhelm3.jpg);
background-size:cover;
background-position: -150px 0px;
float:right;
}

.greyRight10 {
background-color: slategrey;
border-radius: 0%;
border: 20px solid white;
border-style:groove;
float:right;
}

.greyRight10:hover {
background-image:url(images/slide_333421_3325197_free-1024x768.jpg);
background-size:cover;
background-position: -150px 0px;
float:right;
}
