/* FONTS */

@font-face {
    font-family: DrukWide;
    src: url(fonts/DrukWide-Super.ttf);
}

@font-face {
    font-family: DrukWideMedium;
    src: url(fonts/DrukWide-Medium.ttf);
}

@font-face {
    font-family: AvenirLight;
    src: url(fonts/AvenirLTStd-Light.otf);
}

@font-face {
    font-family: AvenirRoman;
    src: url(fonts/AvenirLTStd-Roman.otf);
}

@font-face {
    font-family: AvenirBook;
    src: url(fonts/AvenirLTStd-Book.otf);
}

@font-face {
    font-family: Sverige;
    src: url(fonts/SverigeScriptClean_Demo.ttf);
}

/* GENERAL STYLING */

html, body{ 
    background:#fff; 
    height:100%;
    width:100%;
    margin:0;
    padding:0;
}

ul, li { 
    list-style-type: none;
    list-style-position:inside;
    margin:0;
    padding:0; 
}

/* SIDEBAR */

div#sidebar{
    float:left;
	background: #fff;
	height:100%;
    width:22%;
    text-align: center;
}

div#sidebar > #pagetitle{ 
    display: inline-block;
    font-family:Sverige, arial, futura;
    z-index:10000;
    font-size:1.5em;
    padding-top: 1em;
    padding-bottom: .2em;
    background-color: transparent;
    -webkit-text-stroke: 1px black;
    width:100%;
    text-align:center;
    text-decoration: none;
    text-shadow:.07em .1em .07em rgba(128,128,128,0.7);
    color:black;
}


div#sidebar > #pagetitle > a { 
    color: black;
    text-decoration: none;
}

div#sidebar > #logo{
    display: inline-block;
    z-index:10000;
    height:6em;
    background-color: transparent;
    width:90%;
    margin-left: auto;
    margin-right: auto;
}


div#sidebar > #logo > button{
    background-image: url(images/rosebanner.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
    background-position: center;
    width:100%;
    height: 100%;
    border-style: none;
}

div#sidebar > #logo > #sections_panel > div > #dropdown-content{
    width:100%;
    position:absolute;
    top:100%;
    left:0;
    opacity:0;
    transition:opacity linear 0.15s;
    background:transparent;
    text-align: center;
    -webkit-filter:blur(0px);
    -webkit-transition: all .3s ease-in;
    overflow:hidden;
    -moz-transition:all 0.6s ease-in-out 0s;
    -webkit-transition:all 0.6s ease-in-out 0s;
    
}

#dropdown-content li {
    line-height: 3em;
    font-size:1.5em;
    list-style-type: none;
    font-family: arial, futura;
    width:100%;
}
 
#dropdown-content li a {
    width:100%;
    display:block;
    -webkit-transition: all .3s ease-out;
    color:transparent;
    background-color:transparent;
    -webkit-text-stroke: 1px black;
    text-decoration: none;
}
 
#dropdown-content li a:hover, #dropdown-content .current-item a {
    background:transparent;
    -webkit-filter: blur(0px);
    -webkit-animation: fadein linear .3s;
    color:black;
}


div#sidebar > #sections_panel{
    display: inline-block;
	height:0;
	width:100%;
	background:#fff;
	border-radius:0px 0px 2px 2px;
	overflow:hidden;
	z-index:10000;
    transition: .6s ease;
    
}
div#sidebar > #sections_panel > div{
	background:#fff;
	height:100%;
	color:#FC0;
    
}

/* SLICKNAV */
.slicknav_menu {
	display:none;
}


/* TRANSITIONS */

@-webkit-keyframes fadein {
   0% {    -webkit-filter: blur(10px);}
  28% { -webkit-filter: blur(10px);}
 100% {  -webkit-filter: blur(0px);}
}

/* ------------------------RESPONSIVE SECTION---------------------------- */

/* MEDIUM VERSION */

@media (min-width:541px) and (max-width:770px){
    .gallery1, .gallery2, .gallery3, .gallery4, .gallery5, .gallery6, .gallery7, .gallery8, .gallery9 {
        width:40%;
    }
    
    div#sidebar > #pagetitle {
        font-size:1em; 
    }
    
    div#sidebar > #logo{
        height:4.5em;
        background-color: transparent;
        width:90%;
        margin-left: auto;
        margin-right: auto;
    }
    
    .artwork2{
        width:80%;
    }
    
    .player iframe {
        width:480px;
        height:270px;
    }
    
    #dropdown-content li {
    font-size:1.2em;
}
    
}

/* MOBILE VERSION */

@media (max-width:540px){
	/* #menu is the original menu */
	.js #dropdown-content {
		display:none;
	}
	
	.js .slicknav_menu {
		display:block;
	}
    
    #sidebar {
        display:none;
    }
    
    .gallery1{
        width:70%;
        position:relative;
        z-index:0;
        display:block;
        margin-left:auto;
        margin-right:auto;
    }
    
    .gallery2, .gallery3, .gallery4, .gallery5, .gallery6, .gallery7, .gallery8, .gallery9{
        width:70%;
        z-index:0;
        display:block;
        margin-left:auto;
        margin-right:auto;
    }
    
    .galleryContainer {
        display: block;
        width:100%;
        margin-left:auto;
        margin-right:auto;
        position:relative;
        z-index:0;
        top:0em;
        padding-bottom:3em;
    }
    
    div#sidebar > #pagetitle {
        font-size:1em;
    }
    
    #dropdown-content li {
    font-size:.8em;
}
    
}
