@font-face {
    font-family: DrukWide;
    src: url(fonts/DrukWide-Super.ttf);
}

@font-face {
    font-family: DrukWideMedium;
    src: url(fonts/DrukWide-Medium.ttf);
}

@font-face {
    font-family: avenir;
    src: url(fonts/AvenirLTStd-Roman.otf);
}


#pagetitle {
    font-family:DrukWide, arial, futura;
    position:absolute;
    z-index:1;
    color: transparent;
    font-size:1.8em;
    line-height:1em;
    left:0em;
    top:.2em;
    margin:0;
    padding:0;
    background-color: transparent;
    -webkit-text-stroke: 1px black;
    width:100%;
    text-align:center
    
}

body {
    top:0;
    width: 100%;
    margin: 0;
    padding:0;
}

 .clearfix:after {
    display:block;
    clear:both;
}

.home {
    top:0;
    margin: 0;
    padding:0;
    position:relative;
    height:100%;
    width: 100%;
    background-color: #ffffff;
    
}

.home li {
    padding:0;
    margin:0;
    list-style-type: none;
    list-style-position:inside;
    font-family:DrukWideMedium, arial, futura;
    font-size:.8em;
}

.home a {
    transition:all linear 0.15s;
    color:transparent;
    background-color:transparent;
    -webkit-text-stroke: 1px black;
    text-decoration: none;
    
}

.home li:hover > a, .home .current-item > a {
    text-decoration:none;
    color:black;
}

/*----- Top Level -----*/
.home > ul > li {
    display:inline-block;
    position:absolute;
    list-style-type: none;
    list-style-position:inside;
    margin:0;
    padding:0;
    
}

.home > ul > li > a {
    padding:0;
    display:inline-block;
    text-shadow:0px 1px 0px rgba(0,0,0,0.4);
    color:black;
}
 
.home > ul > li:hover > a, .home > ul > .current-item > a {
    background-color:transparent;
}
 
/*----- Bottom Level -----*/


@-webkit-keyframes fadein {
   0% {    -webkit-filter: blur(10px);}
  28% { -webkit-filter: blur(10px);}
 100% {  -webkit-filter: blur(0px);}
}


.home li:hover {
   
}


.home > ul > li:hover .dropdown-content {
    opacity:1;
    
    
}
 
.dropdown-content {
    position:absolute;
    z-index:-1;
    opacity:0;
    transition:opacity linear 0.15s;
    background:transparent;
    text-align: center;
    -webkit-filter:blur(0px);
    -webkit-transition: all .3s ease-in;
    margin:0;
    padding:0;
    line-height: 1.8em;
    top:2em;
    width:100%;
    overflow:hidden;
}
 
.dropdown-content li {
    display:block;
    list-style-type: none;
    margin:0;
    padding:0;
    
}
 
.dropdown-content li a {
    display:block;
    text-decoration:none;
    -webkit-transition: all .3s ease-out;
}
 
.dropdown-content li a:hover, .dropdown-content .current-item a {
    background:transparent;
    -webkit-filter: blur(0px);
    -webkit-animation: fadein linear .3s;
}
/* text styling */
p {
    color: black;
    font-family: avenir, arial, futura;
    text-align: left;
    line-height: 1.1em;
    font-size:1em;
}

.home p a {
    color:black;
    text-decoration: none;
}

h1 {
    color: black !important;
    font-family: avenir, arial, futura;
    text-align: left;
    text-decoration: none;
}

h1 a {
    color: black !important;
    font-family: avenir, arial, futura;
    text-align: left;
    text-decoration: none;
}

/* text container */
.statement {
    z-index:1;
    position:relative;
    width:80%;
    top:3em;
    left:0em;
    margin-top:0em;
    margin-left:.5em;
}

.researchstatement {
    z-index:1;
    position:relative;
    width:80%;
    top:3em;
    left:0em;
    margin-top:0em;
    margin-left:.5em;
}

.description1 {
    z-index:1;
    position:relative;
    width:30%;
    height:10%;
    top:3em;
    margin-top:0em;
    margin-left:.5em;
    display:inline-block;
    font-size:.8em;
}

.description2 {
    z-index:1;
    position:relative;
    width:30%;
    height:10%;
    top:3em;
    margin-top:0em;
    margin-left:0.4em;
    display:inline-block;
    font-size:.8em;
}

.description3 {
    z-index:1;
    position:relative;
    width:30%;
    height:10%;
    top:3em;
    margin-top:0em;
    margin-left:0.3em;
    display:inline-block;
    font-size:.8em;
}

/* photo of me */
.me {
    position:relative;
    z-index:0;
    width:60%;
    top:3em;
    left:0em;
    margin-left:.5em;
}

/* contact photo */
.scream {
    position:relative;
    z-index:0;
    width:50%;
    top:3em;
    left:0em;
    margin-left:.5em;
}

/* blue knife */
.blueknife {
    position:relative;
    z-index:-1;
    width:100%;
    top:0;
}


/* photo of artwork */
.artwork {
    position: relative;
    z-index:1;
    top:3em;
    left:0em;
    width:90%;
    margin-top:0em;
    margin-left:.5em;
    margin-bottom:3em;
}

.artwork2 {
    position: relative;
    z-index:1;
    top:3em;
    left:0em;
    width:60%;
    margin-top:0em;
    margin-left:.5em;
    margin-bottom:3em;
}

/* audio players */
.player {
    position:relative;
    z-index:1;
    top:3em;
    left:0em;
    margin-top:0em;
    margin-left:.5em;
}

.player2 {
    position:relative;
    z-index:1;
    top:5em;
    left:0em;
    margin-top:0em;
    margin-left:.5em;
    margin-bottom:3em;
}

.gallery1 {
    position:relative;
    z-index:0;
    width:30%;
    top:3em;
    margin-left: .5em;
    display:inline-block;
    z-index:2;
}

.gallery2 {
    position:relative;
    z-index:0;
    width:30%;
    top:3em;
    left:0em;
    margin-top:0em;
    margin-left: .2em;
    display:inline-block;
}

.gallery3 {
    position:relative;
    z-index:0;
    width:30%;
    top:3em;
    left:0em;
    margin-top:0em;
    margin-left: .2em;
    display:inline-block;
}

.textblink {
    -webkit-animation-name: blinker;
    -webkit-animation-duration: 4s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    
    -moz-animation-name: blinker;
    -moz-animation-duration: 4s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;
    
    animation-name: blinker;
    animation-duration:4s;
    animation-timing-function:linear;
    animation-iteration-count:infinite;
}

@-moz-keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@-webkit-keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

