@font-face {
    font-family: DrukWide;
    src: url('fonts/DrukWide-Heavy.ttf');
}


video#bgvid { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 120%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background-size: cover; 
}



body {
    z-index:0;
    padding: 0;
    margin:0;
    cursor: url(horror/knife.cur), auto;
}

.container {
    position:relative;
    padding:0;
    margin:0;
    top:0;
    left:0;
    height:100%;
    width:100%;
}

#bring {
    position: absolute;
    top:0px;
    margin-left:auto;
    margin-right: auto;
    width:100%;
    height:7em;
}

#me {
    position: absolute;
    top:11em;
    margin-left:auto;
    margin-right: auto;
    width:100%;
    height:7em;
}

#to {
    position: absolute;
    top:22em;
    margin-left:auto;
    margin-right: auto;
    width:100%;
    height:7em;
}

#life {
    position: absolute;
    top:33em;
    margin-left:auto;
    margin-right: auto;
    width:100%;
    height:7em;
}

p {
    font-family: DrukWide;
    color: white;
    opacity:.3;
    animation: fadein 600s;
    -moz-animation: fadein 600s; /* Firefox */
    -webkit-animation: fadein 600s; /* Safari and Chrome */
    -o-animation: fadein 600s; /* Opera */
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:.3;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:.3;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:.3;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity:.3;
    }
}

a:link {
    text-decoration: none;
    color:white;
}

a:visited {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: none;
    color: white;
}

a:active {
    text-decoration: none;
    color: white;
}