* {
    padding: 0;
    margin: 0;
}

body {
    font-family: sans-serif;
}

img {
    max-width: 100%;
}

.cycle-slideshow {
    width: 100%;
    display: block;
    position: relative;
    margin: 0 auto;
    
}

.cycle-prev, .cycle-next {
    font-size: 200%;
    color: #fff;
    display: block;
    position: absolute;
    top: 50%;
    margin-top:  -16px;
    z-index: 9999;
    cursor: pointer;
}

.cycle-prev {
    left: 10%;
}

.cycle-next {
    right: 10%;
}

.cycle-pager {
    width: 100%;
    text-align: center;
    display: block;
    position: absolute;
    bottom: 20px;
    z-index: 9999;
    cursor: pointer;
}

.cycle-pager span {
    text-indent: 100%;
    white-space: nowrap;
    width: 12px;
    height: 12px;
    display: inline-block;
    border: 1px solid #fff;
    border-radius: 50%;
    margin: 0 10px;
}

.cycle-pager .cycle-pager-active {
    background: #fff;
    
}


/*

.slider-holder
        {
            width: 40em;
            height: 20em;
            background-color: yellow;
            margin-left: auto;
            margin-right: auto;
            margin-top: 0px;
            text-align: center;
            overflow:hidden;
        }
        
        .image-holder
        {
            width:120em;
            background-color: red;
            height: 20em;
            clear: both;
            position: relative;
            
            -webkit-transition: left 2s;
            -moz-transition: left 2s;
            -o-transition: left 2s;
            transition: left 2s;
        }

.imgbox {
        float: left;
            margin: 0px;
            padding: 0px;
            position: relative;
            height:100%;
            width:40em;
}
        
        .slider-image
        {
            margin: 0px;
            padding: 0px;
            position: relative;
            height:100%;
            width:30em;
        }
        
        #slider-image-1:target ~ .image-holder
        {
            left: 0em;
        }
        
        #slider-image-2:target ~ .image-holder
        {
            left: -40em;
        }
        
        #slider-image-3:target ~ .image-holder
        {
            left: -80em;
        }
        
        .button-holder
        {
            position: relative;
            top: -20px;
        }
        
        .slider-change
        {
            display: inline-block;
            height: 10px;
            width: 10px;
            border-radius: 5px;
            background-color: brown;
        }

.overlay {
    position: absolute;
    top:0;
    bottom:0;
    right:0;
    left:0;
    height:100%;
    width: 100%;
    opacity:0;
    transition: .6s ease;
    background-color:white;
}

.galleryTitle {
    color: black;
    font-size: 1.3em;
    position:absolute;
    top:20%;
    left:0;
    width:100%;
    height:50%;
    transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    text-align:center;
    font-family: arial, futura;
    text-decoration:none;
    -webkit-text-stroke:1px black;
}

.galleryDate {
    color: black;
    font-size: 1em;
    position:absolute;
    bottom:0%;
    left:0;
    width:100%;
    height:30%;
    transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    text-align:center;
    font-family: arial, futura;
    text-decoration:none;
    -webkit-text-stroke:1px black;
}

.imgbox:hover .overlay {
    opacity: 1;
}
*/