html, body {
    height:200%;
}

body {
    width:100%;
    margin:0;
    z-index:0;
    padding: 0;
    cursor: url(anime/chibi.cur), auto;
    overflow-x:hidden;
    
}

.container {
    position:relative;
    z-index:0;
    width:100%;
    height:103%;
    margin:0;
    padding:0;
    overflow-x:hidden;
} 

.background1 {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    z-index:0;
    margin:0;
    padding:0;
    pointer-events:none
}

.background2 {
    position:absolute;
    width:100%;
    top:57em;
    left:0;
    z-index:0;
    margin:0;
    padding:0;
    pointer-events:none
}

.background3 {
    position:absolute;
    width:100%;
    top:89em;
    left:0;
    z-index:0;
    margin:0;
    padding:0;
    pointer-events:none
}

.background4 {
    position:absolute;
    width:100%;
    top:186em;
    left:0;
    z-index:0;
    margin:0;
    padding:0;
    pointer-events:none
}

.background5 {
    position:absolute;
    width:100%;
    top:244em;
    left:0;
    z-index:0;
    margin:0;
    padding:0;
    pointer-events:none
}

.background6 {
    position:absolute;
    width:100%;
    top:302em;
    left:0;
    z-index:0;
    margin:0;
    padding:0;
    pointer-events:none
}

.background7 {
    position:absolute;
    width:100%;
    top:355em;
    left:0;
    z-index:0;
    margin:0;
    padding:0;
    pointer-events:none
}

.background8 {
    position:absolute;
    width:100%;
    top:433em;
    left:0;
    z-index:0;
    margin:0;
    padding:0;
    pointer-events:none
}

.background9 {
    position:absolute;
    width:100%;
    top:490em;
    left:0;
    z-index:0;
    margin:0;
    padding:0;
    pointer-events:none
}

.background10 {
    position:absolute;
    width:100%;
    top:568em;
    left:0;
    z-index:0;
    margin:0;
    padding:0;
    pointer-events:none
}

.background11 {
    position:absolute;
    width:100%;
    top:621em;
    left:0;
    z-index:0;
    margin:0;
    padding:0;
    pointer-events:none
}

.background12 {
    position:absolute;
    width:100%;
    top:678em;
    left:0;
    z-index:0;
    margin:0;
    padding:0;
    pointer-events:none
}

.background13 {
    position:absolute;
    width:100%;
    top:735em;
    left:0;
    z-index:0;
    margin:0;
    padding:0;
    pointer-events:none
}


.anime1 {
    z-index:1;
    position:absolute;
    width:58%;
    right:0em;
    top:22.6em;
    opacity: 2;
    margin:0;
    padding:0;
    pointer-events:none
    
}

.anime10 {
    z-index:1;
    position:absolute;
    width:47%;
    left:4%;
    top:240em;
    opacity: 2;
    margin:0;
    padding:0;
    pointer-events:none
}

.anime24 {
    z-index:1;
    position:absolute;
    width:40em;
    left:-6em;
    top:120em;
    margin:0;
    padding:0;
    opacity:.5;
    pointer-events:none
    
}

.anime25 {
   z-index:1;
    position:absolute;
    width:90%;
    left:6em;
    top:490em;
    opacity: .7;
    margin:0;
    padding:0;
    pointer-events:none
}

.anime26 {
    z-index:1;
    position:absolute;
    width:40%;
    left:5em;
    top:534.8em;
    opacity: .7;
    margin:0;
    padding:0;
    -ms-transform: rotate(-3deg); /* IE 9 */
    -webkit-transform: rotate(-3deg); /* Chrome, Safari, Opera */
    transform: rotate(-3deg);
    
}

.anime27 {
    z-index:1;
    position:absolute;
    width:40%;
    right:0em;
    top:76em;
    opacity: .8;
    margin:0;
    padding:0;
    pointer-events:none
    
}

.anime28 {
    z-index:1;
    position:absolute;
    width:20%;
    left:7em;
    top:215.2em;
    opacity: 1;
    margin:0;
    padding:0;
    
}

.anime29 {
    z-index:1;
    position:absolute;
    width:70%;
    left:37em;
    top:363.4em;
    opacity: .7;
    margin:0;
    padding:0;
    pointer-events:none
    
}

.anime2 {
    z-index:1;
    position:absolute;
    width:100%;
    left:0em;
    top:198.8em;
    opacity: .4;
    margin:0;
    padding:0;
    pointer-events:none
}

.anime3 {
    z-index:1;
    position:absolute;
    width:34%;
    right:8em;
    top:130em;
    opacity: .8;
    margin:0;
    padding:0;
    pointer-events:none
}

.anime4 {
    z-index:0;
    position:absolute;
    width:48%;
    height:50%;
    right:8em;
    top:485em;
    opacity: .3;
    margin:0;
    padding:0;
    pointer-events:none
}

.anime5 {
    z-index:0;
    position:absolute;
    width:65%;
    right:0em;
    top:354em;
    opacity: .8;
    margin:0;
    padding:0;
    pointer-events:none
}

.anime6 {
    z-index:1;
    position:absolute;
    width:70%;
    right:12em;
    top:270em;
    opacity: .4;
    margin:0;
    padding:0;
    pointer-events:none
}

.anime7 {
    z-index:0;
    position:absolute;
    width:50%;
    right:4em;
    top:290em;
    opacity: .5;
    margin:0;
    padding:0;
    pointer-events:none
}

.anime8 {
    z-index:0;
    position:absolute;
    width:40%;
    right:8em;
    top:437em;
    opacity: .7;
    margin:0;
    padding:0;
    pointer-events:none
}

.anime9 {
    z-index:0;
    position:absolute;
    width:35%;
    right:24em;
    top:618em;
    opacity: .7;
    margin:0;
    padding:0;
    pointer-events:none
}

.anime11 {
    z-index:1;
    position:absolute;
    width:78%;
    right:4em;
    top:675em;
    opacity: .5;
    margin:0;
    padding:0;
    pointer-events:none
}

.anime12 {
    z-index:1;
    position:absolute;
    width:80%;
    right:-5em;
    top:140em;
    opacity: .1;
    margin:0;
    padding:0;
    pointer-events:none
}

.anime13 {
    z-index:0;
    position:absolute;
    width:115%;
    left:0em;
    top:634em;
    opacity: .7;
    margin:0;
    padding:0;
    pointer-events:none
    
}

.anime14 {
    z-index:1;
    position:absolute;
    width:40%;
    left:0em;
    top:180em;
    opacity: .9;
    margin:0;
    padding:0;
    pointer-events:none
}

.anime15 {
    z-index:0;
    position:absolute;
    width:100%;
    right:0em;
    top:0em;
    opacity: .4;
    margin:0;
    padding:0;
    pointer-events:none
}

.anime16 {
    z-index:1;
    position:absolute;
    width:100%;
    left:0em;
    top:748em;
    opacity: .4;
    margin:0;
    padding:0;
    pointer-events:none
}

.anime17 {
    z-index:1;
    position:absolute;
    width:25%;
    left:10em;
    top:309em;
    opacity: 1;
    margin:0;
    padding:0;
    pointer-events:none
}

.anime18 {
    z-index:1;
    position:absolute;
    width:30%;
    right:5em;
    top:500em;
    opacity: 1;
    margin:0;
    padding:0;
    pointer-events:none
}

.anime19 {
    z-index:1;
    position:absolute;
    width:60%;
    left:0em;
    top:400em;
    opacity: .8;
    margin:0;
    padding:0;
}

.anime20 {
    z-index:0;
    position:absolute;
    width:50%;
    right:0em;
    top:590em;
    opacity: .8;
    margin:0;
    padding:0;
    pointer-events:none
}

.anime23 {
    z-index:1;
    position:absolute;
    width:50%;
    left:0em;
    top:451em;
    opacity: .7;
    margin:0;
    padding:0;
    pointer-events:none
}

.weird1 {
    z-index:1;
    position:absolute;
    width:70%;
    right:10em;
    top:140em;
    opacity: 1;
    margin:0;
    padding:0;
    pointer-events:none
}

.anime22 {
    z-index:0;
    position:absolute;
    width:100%;
    left:0em;
    top:295em;
    opacity: 1;
    margin:0;
    padding:0;
    pointer-events:none
}

.weird2 {
    z-index:0;
    position:absolute;
    width:92%;
    left:2em;
    top:530em;
    opacity: .7;
    margin:0;
    padding:0;
    pointer-events:none
}

.weird3 {
    z-index:0;
    position:absolute;
    width:70%;
    right:0em;
    top:100em;
    opacity: .6;
    margin:0;
    padding:0;
    pointer-events:none
}

.weird4 {
    z-index:1;
    position:absolute;
    width:100%;
    left:0em;
    top:695em;
    opacity: .5;
    margin:0;
    padding:0;
    pointer-events:none
}

.weird5 {
    z-index:1;
    position:absolute;
    width:45%;
    right:5em;
    top:408em;
    opacity: .8;
    margin:0;
    padding:0;
    pointer-events:none
}

.weird6 {
    z-index:0;
    position:absolute;
    width:60%;
    left:0em;
    top:78em;
    opacity: .6;
    margin:0;
    padding:0;
    pointer-events:none
}

.weird7 {
    z-index:0;
    position:absolute;
    width:100%;
    left:0em;
    top:450em;
    opacity: .5;
    margin:0;
    padding:0;
    pointer-events:none
}

.weird8 {
    z-index:1;
    position:absolute;
    width:60%;
    left:0em;
    top:330em;
    opacity: .5;
    margin:0;
    padding:0;
    pointer-events:none
}

.weird9 {
    z-index:1;
    position:absolute;
    width:30%;
    left:0em;
    top:493em;
    opacity: .9;
    margin:0;
    padding:0;
    pointer-events:none
}