@font-face {
    font-family: Lavenda;
    src: url('fonts/Lavenda Demo.otf');
}

h1 {
    color: black;
}

html, body {
    height:100%;
}

body {
    background-color:black;
    z-index:0;
    padding: 0;
    margin:0;
    cursor: url(mary/cross.cur), auto;
}

#snow{
	background-image: url('mary/skull2.png'), url('mary/skull3.png'), url('mary/skull1.png');
    background-size: 300px;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index:1;
	-webkit-animation: snow 10s linear infinite;
	-moz-animation: snow 10s linear infinite;
	-ms-animation: snow 10s linear infinite;
	animation: snow 10s linear infinite;
}
@keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}
@-moz-keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 400px 1000px, 200px 400px, 100px 300px;}
}
@-webkit-keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}
@-ms-keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}	
    


.container {
    position:relative;
    width: 100%;
    height:100%;
    padding: 0;
    top:0;
    left:0;
    z-index:0;
    overflow-x:hidden;
    overflow-y:hidden;
    margin-left:auto;
    margin-right:auto;
    
}


img.mary {
    position: absolute;
    height:100%;
    z-index:1;
    opacity:.6;
    left:50%;
    margin-left:-270px;
}

img.ivy1 {
    position:absolute;
    top:0;
    left:5em;
    z-index:2;
    height:122%;
    
}

img.ivy2 {
    position:absolute;
    top:0;
    right:5em;
    z-index:2;
    height:122%;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}
