html, body {
    height:100%;
}

body {
    width:100%;
    height:100%;
    margin:0;
    z-index:0;
    padding: 0;
    cursor: url(pill/brain.cur), auto;
}

img.brain {
    z-index:0;
    position:fixed;
    width:100%;
    margin:0;
    padding:0;
}

#furry {
    position:absolute;
    z-index:1;
    width:16em;
    left:40em;
    bottom:1em;
}

#scorpion {
    position:absolute;
    z-index:1;
    width:17em;
    left:10em;
    bottom:2em;
}

#sacks {
    position:absolute;
    z-index:1;
    width:21em;
    left:23em;
    top:6em;
}

#bottle {
    position: absolute;
    z-index:1;
    width:31.5%;
    left:0%;
    top:0%;
    
}