html, body {
    height:100%;
}

body {
    width:100%;
    height:100%;
    margin:0;
    z-index:0;
    padding: 0;
    cursor: url(art/point.cur), auto;
}

img.gallery {
    z-index:0;
    position:fixed;
    width:100%;
    height:100%;
}

#canvas {
    position:absolute;
    z-index:1;
    width:31.5%;
    height:49%;
    left:15%;
    top:15%;
}

#blood {
    position: absolute;
    z-index:1;
    width:10%;
    height:15%;
    left:5%;
    top:30%;
    background: transparent;
    border: none !important;
    font-size:0;
}

#mary {
    position: absolute;
    z-index:1;
    width:10%;
    height:15%;
    left:70%;
    top:84%;
    background: transparent;
    border: none !important;
    font-size:0;
}
#purse {
    position: absolute;
    z-index:1;
    width:10%;
    height:15%;
    left:35%;
    top:9%;
    background: transparent;
    border: none !important;
    font-size:0;
}

#art {
    position: absolute;
    z-index:1;
    width:10%;
    height:15%;
    left:35%;
    top:84%;
    background: transparent;
    border: none !important;
    font-size:0;
}